body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #23214c;
}

body a {
    text-decoration: none;
    color: #23214c;
    transition: color .2s linear;
}

body a:hover {
    color: #ee87a4;
}

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
}

.doc-loader td {
    text-align: center;
    vertical-align: middle;
}

.doc-loader img {
    width: 90px;
    height: 90px;
}

.content-1170 {
    width: 1170px;
}

.content-1170 img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.full-width {
    line-height: 0;
}


/* TOP MENU */

.menu-wrapper {
    transition: background-color .2s linear;
    z-index: 99 !important;
    background-color: #221C5A;
    width: 100% !important;
    top: 0;
    position: fixed;
}

#header-main-menu {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.main-menu.sm-clean {
    background-color: transparent;
}

.main-menu.sm-clean a {
    font-size: 13px;
    line-height: 40px;
    color: #fff !important;
    font-weight: 400;
    transition: color .2s linear;
    text-transform: uppercase;
    letter-spacing: 0.03cm;
}

.main-menu.sm-clean .sub-menu a {
    font-size: 11px;
    line-height: 20px;
}

.sm-clean .current_page_item a {
    color: #fff !important;
}

.main-menu.sm-clean a:hover {
    color: #fff !important;
}

.sm-clean li.active a {
    color: #fff !important;
}

.mob-menu {
    display: none;
    font-weight: 700;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: color .2s linear;
    color: #fff;
}

/* END TOP MENU */


/* GENERAL SECTION */

.section {
    position: relative;
    z-index: 1;
}

.section-num {
    overflow: hidden;
    margin-top: 40px;
}

.section-title-holder {
    background-color: #32DB8A;
    width: 370px;
    height: 370px;
    z-index: 2;
}

.section-num span {
    margin-left: -64px;
    color: #55B286;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 180px;
    line-height: 100%;
    letter-spacing: -5px;
}

.section-title-holder h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 109px;
    width: 245px;
    word-break: break-all;
    line-height: 83px;
    margin-top: 10px;
    color: white;
    margin-left: 115px;
    text-transform: uppercase;
    letter-spacing: -3px;
    padding: 0;
}

.section-content-holder {
    background: #fff;
    width: 800px;
    padding: 60px 0;
}

.section-content-holder .content-wrapper {
    padding: 0 60px;
}

.section-content-holder.right {
    margin-left: 370px;
}

.section-content-holder.left {
    margin-top: 370px;
}

.section-content-holder .content-title-holder {
    overflow: hidden;
    height: 100px;
    margin-top: -60px;
    padding-bottom: 50px;
}

.section-content-holder .content-title {
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    font-size: 180px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: -75px;
    color: #221c5a;
}

.extra-content-left {
    width: 800px;
    color: #fff;
    padding: 100px 0;
}

.extra-content-right {
    width: 800px;
    margin-left: 370px;
    color: #fff;
    padding: 100px 0;
}

.extra-content-full-width {
    padding: 100px 0;
}

.section:last-of-type .extra-content-left, .section:last-of-type .extra-content-right, .section:last-of-type .extra-content-full-width {
    padding-bottom: 0;
}

/* END GENERAL SECTION */


/* HOME SECTION */

.intro-page {
    padding-bottom: 170px;
    min-height: calc(100vh - 170px);
    background-color: #221c5a;
    background-image: url('../images/page/bcg_img_01.jpg');
    background-repeat: repeat;
    background-position: center top;
    background-size: cover;
    z-index: 10;
}

.top-logo {
    width: 160px !important;
    padding-top: 150px;
}

h1.big-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
    padding-top: 100px;
    color: #fff;
    letter-spacing: -1px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.big-title span {
    display: block;
}

h1.big-title-details {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 16;
    color: #3b5998;
    font-size: 30px !important;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.big-title-details span {
    display: block;
}

.title-desc {
    font-family: 'PT Serif', serif;
    font-size: 22px;
    line-height: 26px;
    max-width: 333px;
    margin: 0 auto;
    color: #fff;
}

.page-template-page-home .intro-page footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* END HOME SECTION */


/* SERVICE SECTION */

#services {
    background-color: #221c5a;
    z-index: 9;
}

#services .section-title-holder {
    background-color: #035B96
}

#services .section-title-holder span {
    color: #053059;
}

.service-holder {
    display: inline-block;
    width: 335px;
}

.service-holder img {
    display: inline-block;
    width: 50px !important;
    vertical-align: top;
}

.service-content-holder {
    display: inline-block;
    width: 290px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.service-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}

/* END SERVICE SECTION */


/* PORTFOLIO SECTION */

#portfolio {
    background-color: #221C5A;
    background-image: url('../images/page/bcg_img_02.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    z-index: 8;
}

#portfolio .section-title-holder {
    background-color: rgb(255, 186, 66);
}

#portfolio .section-title-holder span {
    color: #e3a436;
}

.page-template-page-portfolio .section {
    padding-top: 100px;
}

.section-content-holder.portfolio-holder {
    background-color: transparent;
    width: 800px;
    padding: 0;
}

.portfolio-holder .portfolio-load-more-holder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 430px;
    background-color: #E74C78;
    text-align: center;
}

.portfolio-holder .portfolio-load-more-holder img {
    padding-bottom: 15px;
}

.portfolio-holder .portfolio-load-more-holder a {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 15px;
}

.portfolio-holder .portfolio-load-more-holder {
    margin-right: 0;
    margin-left: auto;
}

.more-posts {
    display: block;
}

.more-posts:hover {
    cursor: pointer;
}

.grid {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: block;
}

.grid-item {
    float: left;
    font-size: 0;
    line-height: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
}

.grid-sizer, .grid-item {
    width: 400px;
}

.grid-item.p_one_half {
    width: 400px;
}

.grid-item.p_one {
    width: 800px;
}

.portfolio-text-holder {
    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    font-size: 20px;
    background-color: white;
    text-align: center;
    display: none;
}

.portfolio-text-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-type {
    line-height: 100%;
    font-size: 11px;
    color: #9a9a9a;
    padding-bottom: 20px;
}

.portfolio-type img {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.portfolio-sec-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #8e8da9;
}

.grid-item a:hover {
    color: #191919;
}

.more-posts-portfolio img {
    transition: all .2s linear;
    width: 100px;
    height: 100px;
}

.more-posts-portfolio img:hover {
    cursor: pointer;
    transform: scale(0.9);
}

div.pp_default .pp_loaderIcon {
    display: none !important;
}

/* END PORTFOLIO SECTION*/


/* ABOUT SECTION */

#about {
    background-color: #221c5a;
    background-image: url('../images/page/bcg_img_031.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: 7;
}

#about .section-title-holder {
    background-color: #0d0931;
}

#about .section-title-holder span {
    color: #140d4e;
}

#about .section-content-holder {
    padding-bottom: 0;
}

.member-content-holder {
    width: 330px;
    padding: 90px 50px 50px 50px;
    float: left;
}

.member-image-holder {
    width: 370px;
    float: right;
}

.member-image-holder img {
    width: 100% !important;
}

.member-name {
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
}

.member-position {
    line-height: 16px;
    font-size: 14px;
    padding-bottom: 50px;
    color: #ee87a4;
    letter-spacing: 4px;
}

.member-content {
    line-height: 26px;
}

.image-slider-wrapper.img .image-slider li img {
    width: 100%;
}

/* END ABOUT SECTION */


/* NEWS SECTION */

#news {
    background-color: rgb(34, 28, 90);
    background-image: url('../images/page/bcg_img_04.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 6;
}

.blog-item-holder {
    padding: 35px 0;
    border-bottom: 2px solid #f4f4f4;
}

.blog-item-holder:last-of-type {
    border: none;
}

.blog-item-holder .num {
    display: inline-block;
    width: 110px;
    font-size: 48px;
    font-weight: 900;
    color: #32db89;
}

.blog-item-holder .info {
    display: inline-block;
    width: 235px;
}

.blog-item-holder .info .cat-links a {
    color: #ee87a4;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.blog-item-holder .entry-title {
    display: inline-block;
    width: 325px;
    padding: 0;
    vertical-align: top;
    line-height: 0;
}

.blog-holder .entry-title a {
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    display: block;
    line-height: 20px;
}

.latest-post-bottom-text {
    text-align: center;
    margin-top: 25px;
}

.latest-post-bottom-text a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #32db89;
    letter-spacing: 5px;
    border-bottom: 2px solid;
    padding-left: 5px;
    padding-bottom: 5px;
}

.testimonial-slider-holder {
    max-width: 500px;
    padding-left: 50px;
}

.testimonial-text {
    font-size: 22px;
    line-height: 40px;
}

.testimonial-author {
    padding-top: 90px;
    font-size: 16px;
    letter-spacing: 3px;
}

/* END NEWS SECTION */


/* VIDEO SECTION */

#video {
    background-color: rgb(34, 28, 90);
    background-image: url('../images/page/bcg_img_05.jpg');
    background-repeat: repeat-x;
    background-position: center center;
    background-size: auto;
    z-index: 5;
}

#video .section-title-holder {
    background-color: rgb(255, 186, 66);
}

#video .section-title-holder span {
    color: #e3a436;
}

#video .section-content-holder {
    padding-bottom: 0;
}

a.video-popup-holder {
    position: relative;
    display: block;
}

a.video-popup-holder .thumb {
    width: 100%;
}

img.popup-play {
    position: absolute;
    top: 50%;
    left: 50%;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    opacity: 0.7;
    transition: opacity .2s linear;
}

a.video-popup-holder:hover img.popup-play {
    opacity: 1;
}

/* END VIDEO SECTION */


/* SKILLS SECTION */


#skills {
    background-color: rgb(34, 28, 90);
    background-image: url('../images/page/bcg_img_031.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    z-index: 4;
}

.progress_bar {
    margin-bottom: 15px;
}

.progress_bar_field_holder {
    height: 59px;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.progress_bar_field_holder:hover .progress_bar_title {
    left: 10px;
    color: #fff !important;
}

.progress_bar_field_holder:hover .progress_bar_percent_text {
    right: 10px;
    color: #fff !important;
}

.progress_bar_title {
    position: absolute;
    top: 16px;
    z-index: 2;
    left: 9px;
    font-weight: bold;
    color: white;
    font-size: 26px;
    line-height: 100%;
    transition: color .2s linear, left .2s linear;
}

.progress_bar_percent_text {
    position: absolute;
    right: -35px;
    top: 15px;
    z-index: 2;
    font-weight: bold;
    color: white;
    font-size: 35px;
    line-height: 100%;
    transition: color .2s linear, right .2s linear;
}

.progress_bar_field_perecent {
    height: 59px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* END SKILLS SECTION */


/* CONTACT SECTION */

#contact {
    background-color: rgb(34, 28, 90);
    background-image: url('../images/page/bcg_img_05.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    z-index: 3;
}

#contact .section-title-holder {
    background-color: rgb(230, 75, 119);
}

#contact .section-title-holder span {
    color: #b24564;
}

#contact .section-content-holder {
    padding-bottom: 0;
}

.map {
    height: 400px;
}

.map img {
    max-width: none;
    max-height: none;
}

.contact-form {
    max-width: 100%;
    width: 770px;
    margin: 0 auto;
    font-size: 22px;
    color: #9a9a9a;
}

p.custom-text-class {
    display: inline-block;
    padding-right: 45px;
    vertical-align: top;
}

p.custom-field-class {
    display: inline-block;
    margin-bottom: 60px;
}

.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
    color: #23214c;
    border: 0;
    border-bottom: 1px solid #1c1c1c;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    line-height: 25px;
    padding: 0;
}

.contact-form input[type=text]::-webkit-input-placeholder, .contact-form input[type=email]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.contact-form input[type=text]::-moz-placeholder, .contact-form input[type=email]::-moz-placeholder, .contact-form textarea::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text]:-ms-input-placeholder, .contact-form input[type=email]:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.contact-form input[type=text]:-moz-placeholder, .contact-form input[type=email]:-moz-placeholder, .contact-form textarea:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #23214c;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 1;
}

.contact-form input[type=text], .contact-form input[type=email] {
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.contact-form textarea {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding-top: 13px;
    overflow: hidden;
    padding-bottom: 5px;
    height: 100px;
}

.contact-form textarea:focus {
    height: 150px;
    overflow: auto;
}

.contact-form input[name="your-name"] {
    margin-top: 0;
    padding-top: 0;
}

.contact-form input[type=submit] {
    color: #e54b76;
    display: inline-block;
    border: 2px solid #e54b76;
    text-align: center;
    padding: 12px 0px;
    cursor: pointer;
    margin-top: 30px;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .2s linear;
}

.contact-form input[type=submit]:hover {
    color: white;
    background-color: #e54b76;
}

div.contact-form-response-output {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

span.contact-form-not-valid-tip {
    font-size: 10px;
}

/* END CONTACT SECTION */


/* FOOTER */

footer {
    background-color: #221C5A;
}

.footer {
    font-size: 16px;
    line-height: 36px;
    clear: both;
    color: #5b5881;
    text-align: center;
    padding: 100px 0;
}

.footer-left, .footer-right {
    width: 810px;
}

.footer-right {
    margin-left: 370px;
}

.footer a {
    color: #5b5881;
}

.social-footer a {
    margin: 0 10px;
    font-size: 20px;
}

/* END FOOTER */


/* SINGLE PORTFOLIO PAGE */

#portfolio-1 {
    background-color: #221c5a;
    background-image: url('../images/page/bcg_img_05.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
}

#portfolio-2 {

    background-color: #221c5a;
    background-image: url('../images/item_background_01.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
}

.single-portfolio .menu-wrapper {
    display: none !important;
}

.single-portfolio article {
    padding-top: 150px;
}

.single-portfolio article .entry-content {
    /*background-color: #fff;*/
    padding-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
    background-image: -webkit-linear-gradient(131deg, #d3d5d6 9%, #ffffff 43%);
}

.single-portfolio .x-close {
    top: -60px;
    right: -60px;
    background-color: #26276d;
    line-height: 0;
    font-size: 0;
    width: 60px;
    height: 60px
}

.single-portfolio .x-close img {
    opacity: 0.4;
    transition: opacity .2s linear;
    width: 30px;
    height: 30px;
    padding-top: 15px;
    padding-left: 15px;
}

.single-portfolio .x-close:hover img {
    opacity: 1;
}

.single-portfolio .entry-content .one {
    padding-left: 100px;
    padding-right: 100px;
}

.single-portfolio .entry-content .one_half {
    width: 435px;
    padding-left: 50px;
}

.single-portfolio .entry-content .one_half.last {
    padding-left: 0;
    padding-right: 50px;
}

.single-portfolio .entry-content h1 {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
}

/* END SINGLE PORTFOLIO */


/* RESPONSIVE PART */

@media screen and (max-width: 1270px) {

    .content-1170 {
        width: 960px;
    }

    .one_half {
        margin-right: 8%;
        float: left;
        position: relative;
        margin-bottom: 37px;
    }

    .one_half {
        width: 46%;
    }

    .section-title-holder {
        width: 250px;
        height: 250px;
    }

    .section-num {
        margin-top: 20px;
    }

    .section-num span {
        margin-left: -35px;
        font-size: 100px;
    }

    .section-title-holder h2 {
        font-size: 80px;
        width: 177px;
        line-height: 66px;
        margin-top: 25px;
        margin-left: 75px;
    }

    .section-content-holder.right {
        margin-left: 250px;
    }

    .section-content-holder.left {
        margin-top: 250px;
    }

    .section-content-holder {
        width: 710px;
    }

    .extra-content-left, .extra-content-right {
        width: 710px;
    }

    .extra-content-right {
        margin-left: 250px;
    }

    .service-holder {
        width: 290px;
    }

    .section-content-holder.portfolio-holder {
        width: 710px;
    }

    .grid-item.p_one, .grid {
        width: 710px;
    }

    .grid-sizer, .grid-item, .grid-item.p_one_half {
        width: 355px;
    }

    .portfolio-holder .portfolio-load-more-holder {
        width: 460px;
    }

    .section-content-holder .content-title {
        font-size: 140px;
        margin-top: -56px;
    }

    .member-content-holder {
        width: 275px;
        padding: 50px;
    }

    .member-image-holder {
        width: 335px;
    }

    .image-slider-wrapper.team .image_slider_next {
        right: 260px;
    }

    .blog-item-holder .entry-title {
        width: 240px;
    }

    .single-portfolio .entry-content .one {
        padding-left: 5%;
        padding-right: 5%;
    }

    .single-portfolio .entry-content .one_half {
        width: 40%;
        padding-left: 5%;
        margin-right: 10%;
    }

    .single-portfolio .entry-content .one_half.last {
        padding-left: 0;
        padding-right: 5%;
    }

}

@media screen and (max-width: 1100px) {

    .single-portfolio .x-close {
        right: 50%;
        right: calc(50% - 30px);
    }

}

@media screen and (max-width: 1020px) {

    .content-1170 {
        width: 100%;
    }

    .extra-content-left, .extra-content-right {
        width: 100%;
        margin-left: 0;
    }

    .single-portfolio article {
        padding-top: 140px;
    }

    .one_half {
        width: 100%;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    .single-portfolio .entry-content .one_half {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-right: 0;
    }

    .single-portfolio .entry-content .one_half.last {
        padding-left: 5%;
        padding-right: 5%;
    }

    .site-content .one_half, .single-portfolio .entry-content div {
        text-align: left;
    }

    .image-slider-wrapper.service a.image_slider_next {
        top: -89px;
        right: 0;
    }

    .section {
        padding-bottom: 150px;
    }

    .section-content-holder.right {
        margin-left: 0;
    }

    .section-content-holder.left {
        margin-top: 0;
    }

    .section-num {
        display: inline-block;
        margin-top: 10px;
    }

    .section-num span {
        font-size: 50px;
        margin-left: -15px;
    }

    .section-title-holder {
        width: 100%;
        height: auto;
        position: relative !important;
        top: 0 !important;
    }

    .section-title-holder h2 {
        display: inline-block;
        width: auto;
        margin: 0;
        vertical-align: top;
        margin-top: 10px;
        font-size: 50px;
        line-height: 100%;
    }

    .section-content-holder {
        width: 100%;
        padding: 30px 0;
    }

    .section-content-holder .content-wrapper {
        padding: 0 5%;
    }

    .service-holder {
        width: 100%;
        display: block;
    }

    .service-content-holder {
        width: 100%;
        width: calc(100% - 75px);
        margin-bottom: 30px;
    }

    .section-content-holder.portfolio-holder {
        width: 100%;
    }

    .grid-item.p_one, .grid {
        width: 100%;
    }

    .grid-sizer, .grid-item, .grid-item.p_one_half {
        width: 50%;
    }

    .portfolio-holder .portfolio-load-more-holder {
        width: 100%;
    }

    .member-content-holder {
        width: 40%;
        padding: 10% 5% 5% 5%;
    }

    .member-image-holder {
        width: 50%;
    }

    .image-slider-wrapper.team .image_slider_next {
        right: 40%;
    }

    .blog-item-holder .entry-title {
        width: 100%;
        display: block;
        padding-top: 20px;
    }

    .blog-item-holder .info {
        width: auto;
    }

    .section-content-holder .content-title-holder {
        overflow: visible;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .section-content-holder .content-title {
        font-size: 19vw;
        margin-top: 0;
    }

    .testimonial-slider-holder {
        width: 90%;
        padding-left: 5%;
    }
}

@media screen and (min-width: 925px) {
    .main-menu {
        display: block !important;
    }
}

@media screen and (max-width: 925px) {

    .intro-page {
        min-height: 0;
    }

    .section {
        position: static !important;
        z-index: 0 !important;
    }

    h1.big-title {
        font-size: 40px;
        padding-top: 0;
    }

    h1.big-title span {
        display: inline;
    }

    .title-desc {
        font-size: 19px;
        line-height: 23px;
    }

    .mob-menu {
        display: block;
    }

    .mob-menu:hover {
        cursor: pointer;
    }

    .portfolio-text-holder {
        display: none !important;
        opacity: 0 !important;
    }

    .main-menu {
        float: none;
        margin: 0 auto;
        text-align: center;
        max-width: 300px;
        width: 100%;
        position: relative;
        z-index: 9999;
        display: none;
    }

    .main-menu ul {
        width: 12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
    }

    .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
        padding-right: 0;
        padding-left: 0;
    }

    .main-menu.sm-clean a {
        line-height: 24px;
    }

    .main-menu.sm-clean .sub-menu a {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }

    .carousel_fw_next {
        display: block !important;
    }

    .fw_carousel_pagination {
        display: none !important;
    }


}

@media screen and (max-width: 805px) {

    .contact-form input[type=text], .contact-form input[type=email], .contact-form textarea, p.custom-field-class, #commentform #email, #commentform #author, #commentform #comment {
        width: 100% !important;
    }

}


@media screen and (max-width: 650px) {


    .member-content-holder {
        width: 90%;
        float: none;
    }

    .member-image-holder {
        width: 100%;
        float: none;
    }

    .image-slider-wrapper.team .image_slider_next {
        right: auto;
        left: 30px;
    }
}


@media screen and (max-width: 350px) {

    .section-num {
        margin-top: 9px;
    }

    .section-num span {
        font-size: 35px;
        margin-left: -10px;
    }

    .section-title-holder h2 {
        margin-top: 9px;
        font-size: 35px;
    }

    .image-slider-wrapper.service a.image_slider_next {
        top: -84px;
    }
}


.loadert {
    color: #3b5998;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 15vh;
    opacity: 0.8;
}

.loadert span {
    display: inline-block;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loadert span:nth-child(odd) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.3s;
}

@-webkit-keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}

@keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}

.buttonc {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 4em 2.8em;
}

.buttonc.type3 {
    color: #e54b76;
}

.buttonc.type3.type3::after, .buttonc.type3.type3::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.buttonc.type3.type3::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #e54b76;
    border-right-color: #e54b76;
}

.buttonc.type3.type3::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #e54b76;
    border-left-color: #e54b76;
}

.buttonc.type3.type3:hover:after, .buttonc.type3.type3:hover:before {
    border-bottom-color: #e54b76;
    border-right-color: #e54b76;
    border-top-color: #e54b76;
    border-left-color: #e54b76;
    width: 100%;
    height: 100%;
}

.loaderss {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/page/loading.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.toast__container {
    display: table-cell;
    vertical-align: middle;
}

.toast__cell {
    display: inline-block;
}

.add-margin {
    margin-top: 20px;
}

.toast__svg {
    fill: #fff;
}

.toast {
    text-align: left;
    padding: 21px 0;
    background-color: #fff;
    border-radius: 4px;
    max-width: 500px;
    top: 0px;
    position: relative;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.toast__icon {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
}

.toast__type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast__content {
    padding-left: 70px;
    padding-right: 60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
}

.toast--yellow .toast__icon {
    background-color: #FFC007;
}

.toast--yellow:before {
    background-color: #FFC007;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: initial;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    /*background-image: linear-gradient(to top, #2c2664a3 20%, #221c5a 80%);*/
    /*background: #ffffff;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: right;

}

/*.bgTop {*/
/*z-index: 15;*/
/*opacity: 0.5;*/
/*}*/

/*.bgMiddle {*/
/*z-index: 10;*/
/*opacity: 0.65;*/
/*}*/

/*.bgBottom {*/
/*z-index: 5;*/
/*opacity: 0.75;*/
/*}*/

/*.wave {*/
/*position: absolute;*/
/*left: 0;*/
/*width: 200%;*/
/*height: 100%;*/
/*background-repeat: repeat no-repeat;*/
/*background-position: 0 bottom;*/
/*transform-origin: center bottom;*/
/*}*/

/*.waveTop {*/
/*background-size: 50% 100px;*/
/*}*/

/*.waveAnimation .waveTop {*/
/*animation: move_wave 4s linear infinite;*/
/*}*/

/*.waveMiddle {*/
/*background-size: 50% 120px;*/
/*}*/

/*.waveAnimation .waveMiddle {*/
/*animation: move_wave 10s linear infinite;*/
/*}*/

/*.waveBottom {*/
/*background-size: 50% 100px;*/
/*}*/

/*.waveAnimation .waveBottom {*/
/*animation: move_wave 15s linear infinite;*/
/*}*/


*,
:before,
:after {
    -ms-box-sizing: inherit;
    -o-box-sizing: inherit;
    box-sizing: inherit;
}


#page-wrap {
    position: relative;
    display: block;
    clear: both;
    background: none;
    color: #000;
    text-decoration: none;
    /*padding: 3rem 0;*/
    width: 100%;
    height: 100%;
}

#inner-wrap {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 3rem;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 322px;
    overflow: visible;
}

.waves {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    min-width: 100%;
    min-height: 70%;
    margin: auto 0;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    display: block;
    width: 83%;
    height: 100%;
    margin: auto;
}


#timeline {
    list-style: none;

    padding-left: 30px;
    border-left: 8px solid #fbfbfb;
}

#timeline li {
    margin: 40px 0;
    position: relative;
}

#timeline p {
    margin: 0 0 15px;
}

.date {
    margin-top: -10px;
    top: 50%;
    left: -158px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44px;
    width: 10px;
    height: 10px;
    background: #32db8a;
    border: 5px solid #fbfbfb;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.content {
    max-height: 20px;
    padding: 50px 20px 10px;
    border-color: transparent;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(230, 227, 230, 1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(230, 227, 230, 1);
    box-shadow: 0px 3px 5px 1px rgba(230, 227, 230, 1);
    position: relative;
}

.content:before, .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}

.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.content:after {
    border-right-color: #48b379;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
    overflow: hidden;
}

label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    top: 12px;
    transition: transform 0.2s linear;
    margin-left: 40px;
}

.radio {
    display: none;
}

.radio:checked + .relative label {
    cursor: auto;
    transform: translateX(42px);
}

.radio:checked + .relative .circle {
    background: #f98262;
}

.radio:checked ~ .content {
    max-height: 180px;
    border-color: #f2fbfb;
    transform: translateX(20px);
    transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}

.radio:checked ~ .content p {
    max-height: 200px;
    color: #848484;
    transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
    #timeline {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
    }

    #timeline li {
        margin: 50px 0;
    }

    label {
        width: 85%;
        font-size: 1.1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        transform: translateX(18px);
    }

    .content {
        padding-top: 45px;
        border-color: #eee9dc;
    }

    .content:before, .content:after {
        border: solid transparent;
        bottom: 100%;
    }

    .content:before {
        border-bottom-color: inherit;
        border-width: 17px;
        top: -16px;
        left: 50px;
        margin-left: -17px;
    }

    .content:after {
        border-bottom-color: #32db8a;
        border-width: 20px;
        top: -20px;
        left: 50px;
        margin-left: -20px;
    }

    .content p {
        font-size: 0.9em;
        line-height: 1.4;
    }

    .circle, .date {
        display: none;
    }
}
