{% load i18n staticfiles thumbnail cms_tags apphooks_config_tags %}

{% if article.categories.exists %}
    {% for category in article.categories.all %}
        {% if category.slug == "services" %}
            {% if not detail_view %}
                <div class="service-holder ">
                    <img src="{% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %}"
                         alt="{{ article.featured_image.alt }}">
                    <div class="service-content-holder">
                        <div class="service-title">
                            <a href="{% namespace_url 'article-detail' article.slug namespace=namespace default='' %}">
                                {% render_model article "title" %}</a>
                        </div>
                        <div class="service-content">
                            {% render_model article "lead_in" %}<br/>
                        </div>
                    </div>
                </div>
            {% else %}
                {% block newsblog_content %}
                    {% include "aldryn_newsblog/article_detail.html"  %}
                {% endblock %}
            {% endif %}

        {% endif %}
    {% endfor %}
{% endif %}
