{% load cms_tags menu_tags sekizai_tags i18n %}
{% load staticfiles %}
<html lang="en">
<head>
    <title>OpenLeaf - A full-service digital agency</title>
    <meta property="og:title" content="Web Design Company in Albania - Website Development | OpenLeaf"/>
    <meta property="og:description"
          content="OpenLeaf is a Digital Agency that specializes in website design, custom development, mobile apps."/>
    <meta property="og:url" content="https://www.openleaf.al/"/>
    <meta property="og:site_name" content="OpenLeaf"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="vbhhSgMVvNwZ1SjL7w7Xw0Vm9cqPaCqOqm5Efl8Rvug"/>
    <meta name="description"
          content="OpenLeaf offers a wide Website Design and Development Services, Infrastructure managements and Graphic, UI, UX Design "/>
    <meta name="keywords"
          content="Website, Software, Development, Design, Maintenance, Web, Services, Creative, CMS, Custom, Coding"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>


    {% block css %}
        <link rel="shortcut icon" href="{% static 'openleafwebsite/images/favicon.ico' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/clear.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/common.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/carouFredSel.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/prettyPhoto.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/sm-clean.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/style.css' %}"/>

    {% endblock %}

    {% render_block "css" %}
</head>


<body class="single-portfolio">

{% cms_toolbar %}

<!-- Preloader Gif -->
<table class="doc-loader">
    <tr>
        <td>
            {#            <img src="images/ajax-document-loader.gif" alt="Loading..."/>#}
            <div class="loadert">
                <span>{</span>...<span>}</span>
            </div>
        </td>
    </tr>
</table>



{% block content %}
    {% block newsblog_content %}

    {% endblock %}
{% endblock content %}



<!-- Footer -->

<footer>
    <div class="footer content-1170 center-relative">
        <ul>
            <li class="copyright-footer">
                © {% now "Y" %} All rights reserved | OpenLeaf
            </li>
            <li class="social-footer">
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-behance"></span></a>
                <a href="#"><span class="fa fa-dribbble"></span></a>
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-rss"></span></a>
            </li>
        </ul>
    </div>
</footer>


{% block js %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135458687-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-135458687-1');
    </script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.sticky-kit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.smartmenus.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.sticky.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.dryMenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/isotope.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.carouFredSel-6.2.0-packed.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.touchSwipe.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/imagesloaded.pkgd.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'openleafwebsite/js/main.js' %}"></script>


{% endblock %}
{% render_block "js" %}

</body>

</html>
