{% load cms_tags menu_tags sekizai_tags i18n %}
{% load staticfiles %}
<html lang="en">
<head>
    <title>OpenLeaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Website Design and Development Services"/>
    <meta name="keywords" content="Website, Development, Design, Maintenance, Web, Services, Creative, CMS, Custom, Coding"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="vbhhSgMVvNwZ1SjL7w7Xw0Vm9cqPaCqOqm5Efl8Rvug"/>

    {% block css %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/comingsoon/comingsoon.css' %}"/>
        <link rel="stylesheet" href="{% static 'openleafwebsite/css/comingsoon/util.css' %}"/>

    {% endblock %}


    {% block js %}
        <script type="text/javascript" src="{% static 'openleafwebsite/js/comingsoon/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'openleafwebsite/js/comingsoon/countdowntime.js' %}"></script>
        <script type="text/javascript" src="{% static 'openleafwebsite/js/comingsoon/tilt.jquery.min.js' %}"></script>

    {% endblock %}
    {% render_block "css" %}
</head>


<body>
<div class="size1 bg0 where1-parent">
    <!-- Coutdown -->
    <div class="flex-c-m bg-img1 size2 where1 overlay1 where2 respon2" style="background-image: url('../static/openleafwebsite/images/bg01.jpg');">
        <div class="wsize2 flex-w flex-c-m cd100 js-tilt">
{#            <div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">#}
{#                <span class="s2-txt4">Less than</span>#}
{#                <span class="l2-txt1 p-b-9 days">35</span>#}
{#                <span class="s2-txt4">Days</span>#}
{##}
{#            </div>#}

            {#				<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">#}
            {#					<span class="l2-txt1 p-b-9 hours">17</span>#}
            {#					<span class="s2-txt4">Hours</span>#}
            {#				</div>#}
            {##}
            {#				<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">#}
            {#					<span class="l2-txt1 p-b-9 minutes">50</span>#}
            {#					<span class="s2-txt4">Minutes</span>#}
            {#				</div>#}
            {##}
            {#				<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">#}
            {#					<span class="l2-txt1 p-b-9 seconds">39</span>#}
            {#					<span class="s2-txt4">Seconds</span>#}
            {#				</div>#}
        </div>
    </div>

    <!-- Form -->
    <div class="size3 flex-col-sb flex-w p-l-75 p-r-75 p-t-45 p-b-45 respon1">
        <div class="wrap-pic1">
            <img src="../static/openleafwebsite/images/logo.png" alt="LOGO">
        </div>

        <div class="p-t-50 p-b-60">
            <p class="m1-txt1 p-b-36">
                ... is <span class="m1-txt2">coming soon</span>
            </p>

        </div>

    </div>
</div>

<script>
    $('.cd100').countdown100({
        /*Set Endtime here*/
        /*Endtime must be > current time*/
        endtimeYear: 2019,
        endtimeMonth: 1,
        endtimeDate: 6,
        endtimeHours: 10,
        endtimeMinutes: 10,
        endtimeSeconds: 20,
        timeZone: ""
    });
</script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>

{% render_block "js" %}

</body>

</html>
