{% extends "base.html" %}
{% load cms_tags staticfiles l10n %}

{% block content %}

    <!-- Home -->

    <div id="home" class="section intro-page">
        <div class="block content-1170 center-relative center-text">
            <img class="top-logo" src="{% static 'openleafwebsite/images/logo.png' %}" alt="OpenLeaf"/>
            <br>
            <h1 class="big-title">// we craft // we code <span> // you lead</span></h1>
        </div>
    </div>

    <!-- About -->
    <div id="about" class="section">
        <div class="block content-1170 center-relative">
            <div class="section-title-holder left">
                <div class="section-num">
                    <span>01</span>
                </div>
                <h2 class="entry-title">CRAFTERS</h2>
            </div>
            <div class="section-content-holder right">
                <div class="content-wrapper">
                    <div class="content-title-holder">
                        <p class="content-title">About</p>
                    </div>
                    <div class="one_half" style="width: unset; margin-right: unset; text-align: justify;">
                        // here, at OpenLeaf, we strive to excel in the invention and development of the industry’s
                        most advanced technologies including mobile apps, web, eCommerce, cross-platform, network,
                        design, branding and alike. We translate these technologies into value for our clients’
                        customers giving them professional and best-in-class services; thereby helping
                        businesses throughout the world harness their full potential.
                        <br><br>
                        // now is about change and disruption. It’s about the end of old certainties and the beginning
                        of new opportunities. But if that’s now – what’s next? We believe what’s next is in the
                        hands of people living in a digital world. Digital empowers people. They decide what they love,
                        where they engage and what they support. They are connected and in control.
                        <h5 style="color: #e54b76;">// your challenge – and ours – is to embrace that;</h5>

                    </div>
                    <div class="clear"></div>
                    <br>
                    <br>
                </div>

                <div class="full-width ">
                    <script>
                        var aboutImage_speed = "500";
                        var aboutImage_auto = "false";
                        var aboutImage_hover = "true";
                    </script>
                    <div class="image-slider-wrapper relative img aboutImage">
                        <a id="aboutImage_next" class="image_slider_next"></a>
                        <div class="caroufredsel_wrapper">
                            <ul id="aboutImage" class="image-slider slides">
                                <li><img src="{% static 'openleafwebsite/images/page/about_img_04.jpg' %}" alt=""></li>
                                <li><img src="{% static 'openleafwebsite/images/page/about_img_05.jpg' %}" alt=""></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- Service -->

    <div id="services" class="section">
        <div class="block content-1170 center-relative">
            <div class="section-title-holder right">
                <div class="section-num">
                    <span>02</span>
                </div>
                <h2 class="entry-title">Services</h2>
            </div>
            <div class="section-content-holder left">
                <div class="content-wrapper">
                    <div class="service ">
                        <ul>
                            <li>
                                {% placeholder "services" %}
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class='clear'></div>
        </div>
    </div>


    <!-- Skills -->

    <div id="skills" class="section">
        <div class="block content-1170 center-relative">
            <div class="section-title-holder left">
                <div class="section-num">
                    <span>03</span>
                </div>
                <h2 class="entry-title">EXPERTISE</h2>
            </div>
            <div class="section-content-holder right">
                <div class="content-wrapper">
                    <div class="content-title-holder">
                        <p class="content-title">Skills</p>
                    </div>
                    <p>// check out our technology stack</p>
                    <br>
                    <div class="progress_bar ">
                        <div class="progress_bar_field_holder" style="width:100%;">
                            <div class="progress_bar_title" style="color: #55B286">HTML , CSS, JS, Angular</div>
                            {#                                <div class="progress_bar_percent_text" style="color: #55B286">81%</div>#}
                            <div class="progress_bar_field_perecent" style="background-color:#32DB8A;"></div>
                        </div>
                    </div>
                    <div class="progress_bar ">
                        <div class="progress_bar_field_holder" style="width:100%;">
                            <div class="progress_bar_title" style="color: #E3A536">.Net, C#, Python, Django</div>
                            {#                                <div class="progress_bar_percent_text" style="color: #E3A536">93%</div>#}
                            <div class="progress_bar_field_perecent" style="background-color:#FFBB42;"></div>
                        </div>
                    </div>
                    <div class="progress_bar ">
                        <div class="progress_bar_field_holder" style="width:100%;">
                            <div class="progress_bar_title" style="color: #B24564">SQL Server, PostgreSQL</div>
                            {#                                <div class="progress_bar_percent_text" style="color: #B24564">72%</div>#}
                            <div class="progress_bar_field_perecent" style="background-color:#E74C78;"></div>
                        </div>
                    </div>
                    <div class="progress_bar ">
                        <div class="progress_bar_field_holder" style="width:100%;">
                            <div class="progress_bar_title" style="color: #468ac7">CMS Platforms
                            </div>
                            {#                                <div class="progress_bar_percent_text" style="color: #468ac7">99%</div>#}
                            <div class="progress_bar_field_perecent" style="background-color:#4C9EE7;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <!-- News -->
    <div id="news" class="section">
        <div class="block content-1170 center-relative">
            <div class="section-title-holder right">
                <div class="section-num">
                    <span>04</span>
                </div>
                <h2 class="entry-title">FLOW</h2>
            </div>
            <div class="section-content-holder left">
                <div class="content-wrapper">
                    <div class="blog-holder block center-relative">

                        <ul id='timeline'>
                            <li class='work'>
                                <input class='radio' id='work5' name='works' type='radio' checked>
                                <div>
                                    <label for='work5'>Analyze Your Idea</label>
                                    <span class='circle'></span>
                                </div>
                                <div class='content'>
                                    <p>Every smart solution begins with a well- thought-out strategy. Our team of consultants and data-driven approach will ensure the success of your web project.</p>
                                </div>
                            </li>
                            <li class='work'>
                                <input class='radio' id='work4' name='works' type='radio'>
                                <div>
                                    <label for='work4'>Design Your Vision</label>
                                    <span class='circle'></span>
                                </div>
                                <div class='content'>
                                    <p>We use data to make UX and IA decisions to make recommendations on your designs. This is important for conversion rate optimization.</p>
                                </div>
                            </li>
                            <li class='work'>
                                <input class='radio' id='work3' name='works' type='radio'>
                                <div>
                                    <label for='work3'>Develop Your Solution</label>
                                    <span class='circle'></span>
                                </div>
                                <div class='content'>
                                    <p>Short, iterative development cycles, combined with your ongoing feedback, keeps us focused on success. We test as we build, using best practices to make sure
                                        your website is sustainable for the long term.
                                    </p>
                                </div>
                            </li>
                            <li class='work'>
                                <input class='radio' id='work2' name='works' type='radio'>
                                <div>
                                    <label for='work2'>Maintain Your Project</label>
                                    <span class='circle'></span>
                                </div>
                                <div class='content'>
                                    <p>We’re there when you need us, even after your website is launched. We build with longevity and sustainability in mind.</p>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="block content-1170 center-relative">
            <div class="extra-content-left">
                <script> var text1_speed = "500";
                var text1_auto = "false";
                var text1_hover = "true";
                </script>
                <div class="text1 testimonial-slider-holder slider-holder">
                    <div class="caroufredsel_wrapper">
                        <ul id="text1" class="slides testimonial">
                            <li>
                                <div class="testimonial-content">
                                    <p class="testimonial-text">The difference between a Designer and Developer, when it
                                        comes to design skills, is the difference between shooting a bullet and throwing
                                        it.</p>
                                    <p class="testimonial-author">SCOTT HANSELMAN</p>
                                </div>
                                <div class="clear">
                                </div>
                            </li>
                            <li style="width: 500px;">
                                <div class="testimonial-content">
                                    <p class="testimonial-text">To create anything–whether a short story or a magazine
                                        profile or a film or a sitcom–is to believe, if only momentarily, you are
                                        capable of magic.</p>
                                    <p class="testimonial-author">TOM BISSEL</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="testimonial-content">
                                    <p class="testimonial-text">As a profession, graphic designers have been shamefully
                                        remiss or ineffective about plying their craft for social or political
                                        betterment.</p>
                                    <p class="testimonial-author">STEVEN HELLER</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <a id="text1_next" class="carousel_text_next" href="#"></a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div id="contact" class="section">
        <div class="block content-1170 center-relative">
            <div class="section-title-holder right">
                <div class="section-num">
                    <span>05</span>
                </div>
                <h2 class="entry-title">Contact</h2>
            </div>
            <div class="section-content-holder left">
                <div class="content-wrapper">
                    <div class="one_half ">
                        <h2 style="color: #e54b76;">Ready to kick off?</h2>
                        <br>
                        <p><strong>Let’s collaborate to improve the world through design and technology.</strong></p>
                    </div>
                    <div class="one_half">

                        <a href="/contact">
                            <button class="buttonc type3">
                                <span style="color: #e54b76;">Request a quote</span>
                            </button>
                        </a>

                    </div>
                    <div class="clear"></div>
                </div>
                <div class="full-width">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47935.68508819818!2d19.782803601583936!3d41.33104134483301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350310470fac5db%3A0x40092af10653720!2sTirana%2C+Albania!5e0!3m2!1sen!2s!4v1551194829822"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock content %}