{% extends "aldryn_newsblog/base.html" %}
{% load i18n %}
<p>test</p>
{% block newsblog_content %}

    {% for article in article_list %}
        <div class="section-content-holder left" style="margin-top: 100px;">
            <div class="content-wrapper">
                <div class="one_half ">
                    {% include "aldryn_newsblog/includes/article.html" %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>{% trans "No items available" %}</p>
    {% endfor %}

    {% include "aldryn_newsblog/includes/pagination.html" %}


{% endblock %}
