{% extends "base_details.html" %}
{% load i18n cms_tags apphooks_config_tags thumbnail staticfiles %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}

    <article id="portfolio-2" class="section portfolio">
        <div class="center-relative content-1170">
            <div class="entry-content">
                <div class="content-wrap relative">
                    <a class="absolute x-close" href="/#services">
                        <img src="{% static 'openleafwebsite/images/page/icon_x.svg' %}" alt="Close">
                    </a>

                    {% include "details_header.html" %}

                    {#                    <div class="one margin-0" style="height: 250px">#}
                    {#                        <div class="block content-1170 center-relative center-text">#}
                    {#                            <h1 class="big-title-details" style="color: #0d0931">{{ article.title }} </h1>#}
                    {#                        </div>#}
                    {#                        <div class="waveWrapper waveAnimation">#}
                    {#                            <div class="waveWrapperInner bgTop" style="background-image: url({% thumbnail article.featured_image 800x450 crop subject_location=article.featured_image.subject_location %});">#}
                    {#                                <div class="wave waveTop" style="background-image: url({% static 'openleafwebsite/images/details/wave.svg' %});"></div>#}
                    {#                            </div>#}
                    {#                            <div class="waveWrapperInner bgMiddle">#}
                    {#                                <div class="wave waveMiddle" style="background-image: url({% static 'openleafwebsite/images/details/wave.svg' %});"></div>#}
                    {#                            </div>#}
                    {#                            <div class="waveWrapperInner bgBottom">#}
                    {#                                <div class="wave waveBottom" style="background-image: url({% static 'openleafwebsite/images/details/wave.svg' %});"></div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="clear"></div>
                    <br>

                    <div class="one_half" style="width: unset; font-size: 16px !important;">
                        <br>
                        <p>{% render_placeholder article.content language placeholder_language %}<p>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </article>

{% endblock %}
