{% load l10n staticfiles %}

<div id="loaderss" class="loaderss"></div>
<!-- Contact -->
<div id="contact" class="section">
    <div class="block content-1170 center-relative">
        <div class="section-title-holder right">
            <div class="section-num">
                <span style="margin-left: 1px">//</span>
            </div>
            <h2 class="entry-title">Contact</h2>
        </div>
        <div class="section-content-holder left" style="margin-top: 100px;">
            {% if form %}
                <div class="content-wrapper">
                    <div class="one_half ">
                        <h5 style="color: #e54b76;">Contact the team, <br> Start like a Rocket! 🚀</h5>
                    </div>
                    <div class="one_half ">
                        <p style="text-align: justify-all">Get a perfect quote. We’re eager to work with you. Please share your project goals and
                            contact
                            information. We respond to 97% of queries within 1-2 business days.<br>
                            <strong>Really!</strong>
                        </p>
                    </div>

                    {% if form.is_multipart %}
                        <form class="contact-form" enctype="multipart/form-data" method="POST"
                              id="contactForm">
                    {% else %}
                        <form class="contact-form" method="POST" action="" id="contactForm">
                    {% endif %}
                    {% csrf_token %}
                    <div class="one_half ">
                        <p><input class="required" id="name" type="text" name="name" autocomplete="off"
                                  placeholder="Name"
                                  required></p>
                        <p><input class="required" id="phone" type="text" name="phone" autocomplete="off"
                                  placeholder="Phone number"></p>
                    </div>
                    <div class="one_half ">
                        <p><input class="required" id="email" type="email" name="email" autocomplete="off"
                                  placeholder="Email" required></p>
                        <p><input class="required" id="subject" type="text" name="subject" autocomplete="off"
                                  placeholder="Subject" required></p>
                    </div>
                    <p><textarea class="required" id="message" name="message" placeholder="Message"
                                 required></textarea>
                    </p>

                    <div class="one_half ">
                        <div style="margin-top: 30px;" class="g-recaptcha required"
                             data-sitekey="6LdfZZYUAAAAADCOUX_Qu2d7GwrPwnhiOrLJthxV" data-callback="enableBtn">
                        </div>
                    </div>

                    <div class="one_half" style="margin-top: 15px;">
                        <input type="submit" name="contact_plus_form_{{ contact.id|unlocalize }}"
                               onclick="return callValidation();"
                                {% if contact.submit_button_text %}
                               value="{{ contact.submit_button_text }}"{% endif %} />
                    </div>
                    <div id="msg-alert" class="toast__container">
                        <div class="toast__cell">
                            <div class="toast toast--yellow add-margin">
                                <div class="toast__icon">
                                    <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 301.691 301.691"
                                         style="enable-background:new 0 0 301.691 301.691;" xml:space="preserve">
                                            <g>
                                                <polygon
                                                        points="119.151,0 129.6,218.406 172.06,218.406 182.54,0  "></polygon>
                                                <rect x="130.563" y="261.168" width="40.525" height="40.523"></rect>
                                            </g>
                                        </svg>
                                </div>
                                <div class="toast__content">
                                    <p id="msg" class="toast__message"></p>
                                </div>
                                <div class="toast__close">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         enable-background="new 0 0 15.642 15.642">
                                        <path fill-rule="evenodd"
                                              d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061
                                                  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,
                                                  0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,
                                                  0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541
                                                  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,
                                                  0.293-0.768,0-1.061L8.882,7.821z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    <div class="clear"></div>
                </div>
            {% else %}
                <div class="content-wrapper">
                    <div class="one_half ">
                        <div id="mailsend">
                            <h2 style="color: #e54b76;">{{ contact.thanks|safe }}</h2>
                        </div>
                        <br>
                        <p style="text-align: justify-all">
                            Soon, one of our sales managers will contact you to clarify the details and arrange a
                            meeting.
                            We normally reply within one business day (or much sooner).
                        </p>
                        <p style="text-align: justify-all">
                            Then, we'll schedule a call to discuss the details of your project.
                        </p>
                    </div>
                    <div id="over" class="one_half last">
                        <img src="{% static 'openleafwebsite/images/page/email_send.gif' %}" alt="Email sent"/>
                    </div>
                </div>
            {% endif %}
            <div class="full-width" style="margin-top: 15px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47935.68508819818!2d19.782803601583936!3d41.33104134483301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350310470fac5db%3A0x40092af10653720!2sTirana%2C+Albania!5e0!3m2!1sen!2s!4v1551194829822"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
